#container {
    display: grid; 
    grid-template-columns: repeat(16, 1fr); 
    border-style: solid;  
}

.grid-item {
    background-color: lightcyan; 
    min-width: 20px; 
    min-height: 20px; 
}

#clicked-div {
    background-color: black; 
}