#container {
    display: grid; 
    grid-template-columns: repeat(64, 1fr); 
    border-style: solid;  
}

.grid-item {
    background-color: lightcyan; 
    min-width: 20px; 
    min-height: 20px; 
}

#clicked-div {
    background-color: black; 
}

#etchLogo {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding-bottom: 50px; 
}

#welcomeMessage {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding-bottom: 20px; 
}

#resetResize {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding-bottom: 20px; 
}

#gridForm {
    padding-left: 20px; 
}